---
- name: Create install directory
  ansible.builtin.file:
    path: "{{ mailpit.install_dir }}"
    state: directory
    mode: "0755"

- name: Create database directory
  ansible.builtin.file:
    path: "{{ mailpit_db_path | dirname }}"
    state: directory
    mode: "0755"

- name: Install mailpit
  ansible.builtin.unarchive:
    src: "https://github.com/axllent/mailpit/releases/download/v{{ mailpit.version }}/mailpit-linux-{{ mailpit_arch }}.tar.gz"
    dest: "{{ mailpit.install_dir }}"
    remote_src: yes
    mode: "0755"

- name: Template the systemd service
  ansible.builtin.template:
    src: mailpit.unit.j2
    dest: /etc/systemd/system/mailpit.service
    owner: root
    group: root
    mode: "0644"

- name: Start and enable the mailpit systemd service
  ansible.builtin.service:
    name: mailpit
    state: started
    enabled: yes
