---
- name: Create mailpit group
  ansible.builtin.group:
    name: mailpit
    state: present
    system: true

- name: Create mailpit user
  ansible.builtin.user:
    name: mailpit
    group: mailpit
    system: true
    create_home: false

- name: Template mailpit rc.conf.d file
  ansible.builtin.template:
    src: mailpit.rc.conf.j2
    dest: /usr/local/etc/rc.conf.d/mailpit
    owner: root
    group: wheel
    mode: "0644"
  notify: Restart Mailpit

- name: Start and enable the mailpit service
  ansible.builtin.service:
    name: mailpit
    state: started
    enabled: true
