---
- name: Configure the mailpit service
  community.general.sysrc:
    name: mailpit_args
    value: "-d {{ mailpit.db_path }} --listen {{ mailpit.bind_addr }}:{{ mailpit.ui_port }} --smtp {{ mailpit.bind_addr }}:{{ mailpit.smtp_port }}"
  notify: Restart Mailpit

- name: Enable Mailpit service
  community.general.sysrc:
    name: mailpit_enable
    vaule: "YES"

- name: Ensure Mailpit is started
  ansible.builtin.service:
    name: mailpit
