---
- name: Create install directory
  ansible.builtin.file:
    path: "{{ mailpit.install_dir }}"
    state: directory
    mode: 0755

- name: Create database directory
  ansible.builtin.file:
    path: "{{ mailpit.db_path | dirname }}"
    state: directory
    mode: 0755

- name: Check current mailpit version
  ansible.builtin.command: "{{ mailpit.install_dir }}/mailpit version"
  register: mailpit_current_version
  failed_when: false
  changed_when: false

- name: Install mailpit
  ansible.builtin.unarchive:
    src: "{{ mailpit.download_url }}"
    dest: "{{ mailpit.install_dir }}"
    remote_src: true
    mode: 0755
  when: >
    mailpit_current_version.rc != 0 or
    mailpit.version not in mailpit_current_version.stdout
  notify: Restart Mailpit

- name: Template the systemd service
  ansible.builtin.template:
    src: mailpit.unit.j2
    dest: /etc/systemd/system/mailpit.service
    owner: root
    group: root
    mode: 0644
  notify:
    - Reload Systemd
    - Restart Mailpit

- name: Start and enable the mailpit systemd service
  ansible.builtin.service:
    name: mailpit
    state: started
    enabled: true
