---
- name: Set OS dependent variables
  ansible.builtin.set_fact:
    mailpit_db_path: "{{ '/var/lib/mailpit/mailpit.db' if ansible_facts['os_family'] == 'Debian' else '/var/db/mailpit/mailpit.db' }}"
    mailpit_arch: "{{ 'amd64' if ansible_architecture == 'x86_64' else 'arm64' }}"

- name: Include dehydrated dependency
  ansible.builtin.include_role:
    name: dehydrated
  when: mailpit.use_dehydrated

- name: Include oauth2_proxy dependency
  ansible.builtin.include_role:
    name: oauth2_proxy
  when: (mailpit.oauth2_proxy is defined and mailpit.oauth2_proxy != None)

- name: Install and configure mailpit (Debian)
  ansible.builtin.include_tasks:
    file: debian-install.yml
  when: ansible_facts['os_family'] == 'Debian'

- name: Configure mailpit (FreeBSD)
  ansible.builtin.include_tasks:
    file: freebsd-install.yml
  when: ansible_facts['os_family'] == 'FreeBSD'

- name: Configure Nginx for mailpit
  ansible.builtin.include_tasks: nginx.yml
