---
- name: disable maildev
  ansible.builtin.include_tasks: disable-maildev.yml
  when: ansible_facts['system'] == 'Linux'
  tags: disable-mailhog-dev

- name: disable mailhog
  ansible.builtin.include_tasks: disable-mailhog.yml
  when: ansible_facts['os_family'] == 'FreeBSD'
  tags: disable-mailhog-dev

- name: Include dehydrated dependency
  ansible.builtin.include_role:
    name: dehydrated
  when: mailpit.dehydrated.enable

- name: Include nginx dependency
  ansible.builtin.include_role:
    name: nginx
  when: mailpit.nginx.enable

- name: Include oauth2_proxy dependency
  ansible.builtin.include_role:
    name: oauth2_proxy
  when: (mailpit.oauth2_proxy is defined and mailpit.oauth2_proxy != None)

- name: Install and configure mailpit (Linux)
  ansible.builtin.include_tasks:
    file: linux-install.yml
  when: ansible_facts['system'] == 'Linux'

- name: Configure mailpit (FreeBSD)
  ansible.builtin.include_tasks:
    file: freebsd-setup.yml
  when: ansible_facts['os_family'] == 'FreeBSD'

- name: Configure Nginx for mailpit
  ansible.builtin.include_tasks: nginx.yml
  when: mailpit.nginx.enable
