mailpit_enable="YES"
mailpit_bind_addr="{{ mailpit.bind_addr }}"
mailpit_smtp_port="{{ mailpit.smtp_port }}"
mailpit_api_port="{{ mailpit.ui_port }}"
mailpit_ui_port="{{ mailpit.ui_port }}"
mailpit_runtimeuser="mailpit"
