{% macro mailpit_oauth2proxy() %}
{% if mailpit.oauth2_proxy is defined and mailpit.oauth2_proxy != None -%}
location /proserver/iap {
  proxy_pass http://[::1]:{{ oauth2_proxy.config[mailpit.oauth2_proxy].http_address.split(":")[-1] }};
  proxy_set_header Host $host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Scheme $scheme;
  proxy_set_header X-Auth-Request-Redirect $request_uri;
}

location = /proserver/iap/auth {
  proxy_pass http://[::1]:{{ oauth2_proxy.config[mailpit.oauth2_proxy].http_address.split(":")[-1] }};
  proxy_set_header Host $host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Scheme $scheme;
  proxy_set_header Content-Length "";
  proxy_pass_request_body off;
}
{% endif %}
{% endmacro %}

{% macro mailpit_proxy_pass() %}
  {% if mailpit.oauth2_proxy is defined and mailpit.oauth2_proxy != None -%}
  auth_request /proserver/iap/auth;
  error_page 401 = /proserver/iap/sign_in;
  auth_request_set $auth_cookie $upstream_http_set_cookie;
  add_header Set-Cookie $auth_cookie;
  {% endif %}

  proxy_pass http://{{ mailpit.bind_addr }}:{{ mailpit.ui_port }};
  proxy_http_version 1.1;
  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection "upgrade";
  proxy_set_header Host $host;
  proxy_cache_bypass $http_upgrade;
{% endmacro %}

server {
  {% for addr in mailpit.nginx.bind_addr %}
  listen {{ addr }}:80;
  {% endfor %}
  {% if ansible_local.proserver.routing.with_gate64 | default(False) -%}
  listen [::1]:87 proxy_protocol;
  {%- endif %}

  {% if mailpit.domain is defined and mailpit.domain != None %}
  server_name {{ mailpit.domain }};
  {% else %}
  server_name _;
  {% endif %}

  include {{ nginx.prefix.config }}/include/letsencrypt.conf;
  {% if mailpit.dehydrated.enable %}
  location / {
    return 301 https://$host$request_uri;
  }
  {% else %}
  {{ mailpit_oauth2proxy() }}

  location / {
    {{ mailpit_proxy_pass() }}
  }
  {% endif %}

}

{% if mailpit.dehydrated.enable and (dehydrated | cert_exists(mailpit.domain)) %}
server {
  {% for addr in mailpit.nginx.bind_addr %}
  listen {{ addr }}:443 ssl http2;
  {% endfor %}
  {% if ansible_local.proserver.routing.with_gate64 | default(False) -%}
  listen [::1]:57 ssl http2 proxy_protocol;
  {%- endif %}

  {% if mailpit.domain is defined and mailpit.domain != None %}
  server_name {{ mailpit.domain }};
  {% else %}
  server_name _;
  {% endif %}

  include {{ nginx.prefix.config }}/include/security_headers.conf;

  {{ mailpit_oauth2proxy() }}

  location / {
   {{ mailpit_proxy_pass() }}
  }

  ssl_certificate {{ dehydrated|cert_fullchain(mailpit.domain) }};
  ssl_certificate_key {{ dehydrated|cert_privkey(mailpit.domain) }};
  ssl_trusted_certificate {{ dehydrated|cert_chain(mailpit.domain) }};
  include {{ nginx.prefix.config }}/include/https_params.conf;
}
{% endif %}
